<div class="container">
    <div class="row">
        {% if Author%}
        <h2>Found {{ Author|length }} of searched term {{message}}</h2>
        {% else %}
        <h2> Found 0 Users for the search term {{message}}</h2>
        {% endif %}

    </div>
    <div class="row">

        {% for image in Author %}
        <div class="card mb-3 card1">
            <div class="row">
                <div class="row">
                    <div class="col-md-1">
                        <div class="card-body avat">

                            <img src="{{image.author_profile.photo.url}}" class="card-img-top" alt="{{image.Author}}">

                        </div>
                    </div>
                    <div class="col-md-1">
                        <h5 class="card-title">{{image.Author}}</h5>
                    </div>
                </div>
                <img src="{{image.image.url}}" class="card-img-top" alt="{{image.image_name}}" height="600px"
                    width="550px">
                <div class="">
                    <li class="list-group-item"> <i class="far fa-heart" (click)="upVote(i)"></i>{{ quote.upvote}}

                        <a href="{%url 'instagram:new_comment'%}"><i class="far fa-comment"></i>{{comments}}</a></li>

                </div>
                <div class="card-body">

                    <h5 class="card-title"></h5>
                    <p class="card-text">{{image.description}}</p>
                    <p class="card-text"><small class="text-muted">{{ image.pub_date }}</small></p>

                </div>
            </div>
        </div><br><br>


        {% empty %}
        <div class="row">
            <h2 class="text-center">There Are No such users</h2>
        </div>
        {% endfor %}
    </div>

</div>