h1{
    color: blue;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

.avat>img{
    border-radius: 40%;
    height: 30px;
    width: 30;
    display: inline-block;
    clear: left;
}

.card1>img{
    height: 600px;
    width: 550px;
}